@use'../../scss/abstracts/'as *;
@use 'sass:math';

.posting-list {
    &__color-text {
        color: $black;
    }

    &__feel {
        color: #65676b;
        font-weight: 400;
        font-size: 0.875rem;

        &__icon {
            font-weight: 550;
        }
    }

    &__hr {
        margin: 0.25rem;
    }

    &__whwant {
        height: 40px;
        background-color: $bodyBg;
        padding-top: 7px;
    }

    &__titleName {
        color: $black;
        display: block;
        font-weight: 600;
        font-size: 0.975rem;
        margin-bottom: -5px;

        &__date {
            font-weight: 400;
            font-size: 0.775rem;
        }
    }
}

.posting-img {
    background-color: $bodyBg;

}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 0.25em;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #eee;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

span::-webkit-scrollbar {
    display: none;
}

.postmodal-scoll::-webkit-scrollbar {
    display: none;
}